h1{
    color: #493628;
    font-family: 'Cormorant Garamond', sans serif; 
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 4px;
}
h2{
    color: #493628;
    font-family: 'Cormorant Garamond', sans serif; 
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 100px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.return{
    color: #493628;
    font-family: 'Cormorant Garamond', sans serif; 
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 50px;
    text-align: center;
}
.Headers{
    display: flex;
    flex-direction:row; /*lay items horizontally*/
    align-items: center;
    justify-content: center;
    color: #493628;
}
.mainnav{
    margin-top: 50px;
}
.item{
    flex-grow: 1;
    margin-left: 10px;
    margin-right:10px;
    font-size: 20px;
    color: #493628;
    text-decoration: none;
}
.search{
    color: #493628;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    margin: 175px;
}

.engine{
    flex-grow:1;
    margin:10px;
}

#copyright{
    color: white;
    background-color: darkgrey;
}

.individual{
    color: #493628;
    text-decoration:none;
    padding-top: 10px;
}

.list{
    color: #493628;
    flex-wrap: wrap;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
    padding:5px;
}

.list img{
    max-width: 300px;
    height: auto;
    margin-top: 10px;
    padding:10px;
    border-radius: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D6C0B3;
    border-radius: 20px;
    padding:10px;
}
.product{
    text-align: center;
}

body{
    background-color: #E4E0E1;
}

.sentence{
    background-color: #D6C0B3 ;
}

.childheader{
    padding: 10px;
    font-family: 'Cormorant Garamond', sans serif; 
    background-color: #D6C0B3;
    margin-bottom: 40px;
}