h1{
    color: black
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.Headers{
    display: flex;
    flex-direction:row; /*lay items horizontally*/
    padding: 30px;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
    font-size: 25px;
}
.item{
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.engine{
    flex-grow:1;
    margin:10px;
}

#copyright{
    color: white;
    background-color: darkgrey;
}

.individual{
    color: black;
    text-decoration:none;
    padding-top: 10px;
}

.list{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    padding:10px;
}

.list img{
    max-width: 300px;
    height: auto;
    margin-top: 10px;
    padding:10px;
    border-radius: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightblue;
    border-radius: 20px;
}
.product{
    text-align: center;
}
